<div id="container">
  <ul id='wrapper' ng-if="images.length > 0">
    <div ng-repeat="image in images | limitTo:limit" class='imgBox'><a ui-sref='singleImg({ imgId: {{image.id}}})'><img draggable="true" class='img' src="{{image.image}}"></a>
      <div class='descBox'>
        <h5 style='font-weight: lighter'>Submitted By: {{image.username}}</h5>
        <h4 style='font-weight: bold'>{{image.title}}</h4>
        <h5 style='font-weight: lighter'>{{image.description | limitTo: 60}}</h5>
      </div>
    </div>

  </ul>
  <button type="button" class='btn' id='more' ng-click='limitUp()'>More Images</button>
</div>
