:root {
  --main-bg-color: #53a1be;
  --text-color: #132e32;
  --text-bg-color: #0A2239;
--white: #ffffff
}



@-webkit-keyframes lightUp {
  0% {
    background-color: floralwhite;
    border: 1px solid transparent;
  }
  100% {
    background-color: var(--text-bg-color);
    border: 1px solid transparent;
    color: var(--white)
  }
}

@-webkit-keyframes grow {
  0% {
    max-width: 10vw;
  }
  100% {
    max-width: 100%;
    height: auto
  }
}


body {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  background-color: var(--main-bg-color);
  width: 100%;
  margin: 0;
  overflow-wrap: break-word;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

.img {
  width: 150px;
  margin: 10px;
  border-radius: 40px;
  border: 1px soli black;
}

.imgBox {
  padding: 12px;
  display: flex;
  width: 180px;
  flex-direction: column;
  border-radius: 45px;
  /* box-shadow: 0 1px 3px 0px var(--text-bg-color); */
  background-color: var(--white);
  margin: 1rem;
}

.imgBox:hover {
  animation: lightUp 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:visited {
  color: var(--white);
}

#logo {
  text-align: center;
  font-family: 'Pacifico';
  padding: 5px;
  background-color: var(--main-bg-color);
}

.styleChange {
  font-family: 'Roboto';
  background-color: var(--main-bg-color);
  font-style: normal;
  margin-left: -1px
}

.imageLogoText {
  color: floralwhite;
  font-family: 'Pacifico';
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#titleAndDesc {
  background-color: var(--main-bg-color);
  width: 50%;
  color: floralwhite;
}

.actualImage {
  animation: grow 2s ease-in-out;
}

.commentsUp {
  margin-left: 20px
}

.commentsDown {
  margin-left: 20px;
  width: 50%
}

#comment-section {}

.actualComment {
  background-color: floralwhite;
  padding: 5px;
}

.actualCommenter {
  color: floralwhite;
  font-weight: lighter;
  padding: 5px;
}

.disabled {
  margin-left: 16%;
  background-color: black;
}

form {
  /* width: 70% */
  margin-right: 7vw;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

.img {
  width: 150px;
  margin: 10px
}


ul {
  list-style: none;
}

.btn {
  text-indent: 5px;
  border-radius: 15px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  background-color: var(--main-bg-color);
  margin-top: 5px;
}

.styleChange {
  font-family: 'Roboto';
  background-color: var(--main-bg-color);
  font-style: normal;
  margin-left: -1px;
  color:var(--white)
}

.fileInpForm {
  width: 80%;
}

#titleAndDesc {
  background-color: var(--main-bg-color);
  width: 50%;
  color: floralwhite;
}

.commentsUp {
  margin: 3rem;
}

.commentsDown {
  margin-left: 20px;
  width: 50%
}

#comment-section {}

.actualComment {
  background-color: floralwhite;
  padding: 5px;
}

.actualCommenter {
  color: floralwhite;
  font-weight: lighter;
  padding: 5px;
}

.commenterName {
  background-color: black
}

input {
  width: 8em;
  height: 1em;
  margin-left: 1vw;
}

.single-img{
  border-radius: 50%;
  width: 100%;
  order: 10px solid var(--white);
}

.single-page-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .user-description{
    text-align: center;
    margin-bottom: 3rem
  }

  .white{
    color: var(--white)!important
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid var(--text-color);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote:before {
    color: var(--main-bg-color);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }
   blockquote:after {
     color: var(--main-bg-color);
     content: close-quote;
     font-size: 4em;
     line-height: 0.1em;
     margin-right: 0.25em;
     vertical-align: -0.4em;
   }