<div ng-controller='photos' class='commentsUp'>

  <h1>What do you think?</h1>

  <img draggable="true" alt='clickedimage' class="single-img" src='{{clickedImg}}'>

  <!-- <div id="titleAndDesc">
    <h4>{{clickedImg.email}}</h4>
    <h5>Uploaded by: {{clickedImg.name.first}} {{clickedImg.name.last}}</h5>
    <h5>{{clickedImg.location.city.toUpperCase()}}</h5> -->
  </div>
</div>

<div ng-controller='comments' class='commentsDown'>
 <div ng-repeat='comment in comments | limitTo:1'> 
  <h4 class="user-description">#{{comment.description}}</h4>
 </div> 
  <form method="post" ng-submit="submitComment()">
    <input ng-model="username" type="text" name="user" placeholder="Name">
    <input ng-model="comment" type="text" name="comment" placeholder="Comment">
    <button type="submit" name="button" class='btn'>Submit Comment</button>
    <h4 class='commenterName' style='color:white'>
            Comment submit disabled for demo version
        </h4>
  </form>


  <div id="comment-section" ng-repeat='comment in comments | limitTo:limit'>
    <h5 class='actualCommenter'><span class='commenterName'>{{comment.name}}</span> left a comment:</h5>
    <h5 class='actualComment'>{{comment.comment}}</h5>

  </div>
  <button type="button" name="button" ng-click='limitUpComments()' id='moreComments' class='btn'>More</button>
</div>
